/* First Article */

:root {
    --profile-margin: -35px;
}


.profilePhoto {
    height: 275px;
    max-height: 40vw;
    margin-bottom: var(--profile-margin);
    border-radius: 10px;
}

#aboutMePhotoSubsection {
    width: auto;
    height: 290px;
    padding-top: 16px;
    margin-top: 30px;
    margin-left: 50px;
    transform: rotate(2deg);
}

#mobilePhotoSubsection {
    display: none;
    padding-bottom: 30px;
}

#nametag {
    position: relative;
    display: var(--hide-on-hughes);
    top: -10px;
    left: 150px;
    rotate: -2.5deg;
    width: fit-content;
    padding: 2px 7px;

    background-color: rgb(255, 191, 255);
    color: black;
    font-weight: bold;
    border: outset orange;
    border-radius: 7px;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, .5);
}

.sectionTitle2 {
    display: none;
}

.buttonPanel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 125px;
    height: 90%;
    min-height: 200px;
    max-height: 275px;
}

.buttonPanel > div > button {
    width: 125px;
}

.sectionImg2 {
    display: none;
}

.sidePhoto {
    height: 180px;
    border-radius: 10px;
    margin-bottom: -5px;
}

#mySpecialInterests {
    overflow-y: scroll;
    height: 400px;
    padding-right: 10px;
    line-height: 115%;
    font-size: 16.5px;
}

.galleryLinks {
    display: flex;
    flex-direction: column;
    float: right;
}

.galleryLinks > .subsection {
    width: 200px;
}

.galleryLinks > .subsection > a {
    padding-bottom: 2px;
}

.galleryLinks > .subsection > .sidePhoto {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 120px;
}

@media screen and (max-width: 1050px) {
    #aboutMePhotoSubsection {
        display: none;
    }
    #mobilePhotoSubsection {
        display: block;
    }
}

@media screen and (max-width: 725px) {
    .sectionTitle1 {
        display: none;
    }
    .sectionTitle2 {
        display: block;
    }
    .buttonPanel {
        min-height: auto;
        flex-direction: inherit;
    }
    .buttonPanel > div {
        margin: 5px;
    }
}

@media screen and (max-width: 500px) {
    .sectionImg1 {
        display: none;
    }
    .sectionImg2 {
        display: block;
        margin: 15px;
        float: inherit;
    }
    .sectionImg2 > img {
        height: auto;
        width: 100%;
    }
}