
:root {
    --show-on-hughes: none !important;
    --hide-on-hughes: block !important;
}

@font-face{
    font-family: sn_pro;
    src: url('../font/SN_Pro/SNPro-VariableFont_wght.ttf');
    font-weight: normal;
    font-style: normal;
}

.showOnHughes {
    display: var(--show-on-hughes) !important;
}

.hideOnHughes {
    display: var(--hide-on-hughes) !important;
}

.hide {
    display: none !important;
}

.show {
    display: block !important;
}

html {
    scroll-behavior: smooth;
}

/* Overlay */

#overlay {
    pointer-events: none;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;

    background-color: rgb(0, 0, 0, .15);
    opacity: 0;
    z-index: 10;
    transition-duration: .4s;
}

.showOverlay {
    pointer-events: inherit !important;
    opacity: 1 !important;
}

/* Colored Buttons with Border */

div:has(> button) {
    width: fit-content;
    height: fit-content;

    background-color: rgba(100, 148, 237, 0.1);
    border: 3px solid rgba(0, 0, 0, .5);
    border-radius: 10px;

    transition-duration: 0.4s;
}

button {
    position: relative;
    top: -2px;
    left: -2px;
    padding: 5px 15px;
    margin: -2px;

    background-color: rgba(0, 0, 0, 0);
    color: white;

    border: 2px solid cornflowerblue;
    border-radius: 10px;

    font-size: 18px;
    font-family: sn_pro;
    cursor: pointer;
    transition-duration: 0.4s;
}

div:has(> button:active) {
    background-color: cornflowerblue;
}

button:active {
    color: black;
}

button > svg {
    margin-top: 3px;
    margin-bottom: -2px;
    width: 22px;
    height: 17.5px;
    fill: white;
    transition-duration: 0.4s;
}

button:active > svg {
    fill: black;
}

.selected {
    background-color: rgba(255, 166, 0, 0.25);
    animation: none !important;
}

.selected > button {
    border: 2px solid orange;
}

.selected:active {
    background-color: orange;
}

.buttonContext {
    position: absolute;
    width: 18.5px;
    height: 29.5px;
    margin-left: .25vw;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    color: white;
    pointer-events: none;
    z-index: 1;
    opacity: 0;
    transition-duration: .1s;
}

.buttonContext > div {
    padding: 1px 5px;

    background-color: rgb(36, 36, 36);
    color: white;
    border: 2px rgb(98, 211, 111) solid;
    border-radius: 3px;

    font-size: 17px;
    white-space: nowrap;
    text-wrap: nowrap;
}

.dropdownContainer {
    height: 0px;
    max-height: fit-content;
    padding: 2px 0px;
    margin-bottom: -250px;
    overflow: hidden;

    background-color: rgb(36, 36, 36);
    border: 2px solid rgb(98, 211, 111);
    border-radius: 3px;
    opacity: 0;
    transition-duration: .6s;
    z-index: 11;
}

.dropdownContainer.show {
    height: 250px;
    opacity: 1;
}

.dropdownButton {
    display: block;
    padding: 0px 7px;

    background-color: rgb(0, 0, 0, 0);
    color: white;
    fill: white;
    cursor: pointer;
    text-decoration: none;
    transition-duration: .4s;
}

.dropdownButton:active {
    background-color: rgb(255, 255, 255, .25);
}

.dropdownButton > svg {
    width: 17.5px;
    height: 17.5px;
    margin: 2px 2px -2px 0px;
}

.dropdownInfo {
    margin: 2px 0px -2px -3px;
    color: rgb(255, 255, 255, .5);
    font-size: 12px;
}

/* Links */

a {
    color: #0484d1;
}

/* Hover Color Features */

@media (hover: hover) {
    div:has(> button:hover) {
        background-color: cornflowerblue;
    }

    button:hover {
        color: black;
    }

    button:hover > svg {
        fill: black;
    }

    .selected:hover {
        background-color: orange;
    }

    button:hover > div {
        height: 32.5px;
        opacity: 1;
    }

    .dropdownButton:hover {
        background-color: rgb(255, 255, 255, .25);
    }
}

button {
    -webkit-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
  -webkit-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Video Frame */

.videoFrame {
    width: 100%;
    height: 55vh;
}

@media screen and (max-width: 1050px) {
    .videoFrame {
        height: 45vw;
    }
}

/* Scrollbar */

::-webkit-scrollbar {
    width: 7.5px;
    background: transparent;
}

::-webkit-scrollbar-corner {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: grey;
    border-radius: 100px;
}